/*                                               
  _____ ____   _____ ___     _____ _____ _____
 / ___// __ \ / ___// _ \   / ___// ___// ___/
/ /__ / /_/ // /   /  __/_ / /__ (__  )(__  ) 
\___/ \____//_/    \___/(_)\___//____//____/  
                                               */

/* 
========
 + Import +
========
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "https://use.fontawesome.com/releases/v5.15.4/css/all.css";
@import url("./bulma.min.css");

html,
body {
  font-family: "Inter", sans-serif;
  height: 100%;
  margin: 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  overflow: hidden;
}

.main_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #222;
}

@media (prefers-color-scheme: dark) {
  .main_section {
    color: #fff;
  }
}

.quote {
  font-style: italic;
}

.line {
  border-top: 2px solid #d7d7d7e7;
  width: 12%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* 
========
+ Saturn core components +
+ Settings sidebar +
========
*/
.sidebar {
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background-color: var(--bulma-scheme-main);
  position: fixed;
  left: -100%;
  top: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  z-index: 999;
  overflow-y: auto;
  padding-top: 50px;
  transition: left 0.2s ease-in-out;
}

.sidebar.open {
  left: 0;
}

.sidebar-trigger {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #00d1b2; /* Bulma primary color */
}

.setting-content {
  padding: 20px;
  margin-top: -50px;
}

/* 
========
+ Header good morning text and time +
========
*/

.greetings {
  font-weight: 500;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.date {
  font-weight: 700;
  font-size: 3rem;
}

.time {
  font-weight: 700;
  font-size: 6rem;
}

.time span {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* [The Pill] Button */
.the-pill {
  opacity: 0.7;
  border: 1px solid transparent;
}

.the-pill:hover {
  border: 1px solid hsl(217, 71%, 53%);
}

/* Add border radius to line
TODO: Handle this better.
 */
.line {
  border-radius: 2px;
}
